<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925062929638-0km4otsu6spssio52r6fqf8jkuqfl68c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925062929638-0km4otsu6spssio52r6fqf8jkuqfl68c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>925062929638-9be3godstu9ap1mev4odl3v6rau1g1m9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHVIZBa4DubXyIIqyZfeCGJ75Ut9lkt18</string>
	<key>GCM_SENDER_ID</key>
	<string>925062929638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice</string>
	<key>PROJECT_ID</key>
	<string>coffee-e7117</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-e7117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925062929638:ios:f860994e609396796c6f27</string>
</dict>
</plist>